section.about.section-margin
    .container
        +blockHead('who we are', 'hello & namaste', 'We do not build websites but user experiences. We judge our performance according to the impact it','about')
        .about__cardwrap
            .row.align-self-stretch.no-gutters
                .col-lg-3.col-md-3.col-sm-6.p-0
                    +aboutCard('./img/about/anchor.png','WEB DESING','Fresh, lively and informative content, is key to any successful website, so take a look at your website`s content on a regular basis.')
                .col-lg-3.col-md-3.col-sm-6.p-0
                    +aboutCard('./img/about/diamond.png','WEB DEVELOPMENT','Fresh, lively and informative content, is key to any successful website, so take a look at your website`s content on a regular basis.')
                .col-lg-3.col-md-3.col-sm-6.p-0
                    +aboutCard('./img/about/Eyeglasses.png','Graphics', 'Fresh, lively and informative content, is key to any successful website, so take a look at your website`s content on a regular basis.')
                .col-lg-3.col-md-3.col-sm-6.p-0
                    +aboutCard('./img/about/Eyeglasses.png','Illustrations', 'Fresh, lively and informative content, is key to any successful website, so take a look at your website`s content on a regular basis.')