section.blog
    .container
        +blockHead('our recent posts', 'Recent blog.', 'Suspendisse ultrices eu massa non interdum. Cras eros nisi, pulvinar quis sem et, pellentesque blandit lacus.', 'blog')
        .row
            .owl-carousel
                +Card('./img/blog/1.png', 'People in our country love chaos', 'Fresh, lively and informative content, is key to any successful website, so take a look at your website`s content.', 'javascript:void(0)','23rd March 2015', 'blog')
                +Card('./img/blog/2.png', 'Why on earth do you ever want to go there ?', 'Improper spelling and grammar can give visitors to your site the perception that your business is not the most important thing to you. Use a word processor or text-based editor to review your content prior to posting.', 'javascript:void(0)','23rd March 2015', 'blog')
                +Card('./img/blog/3.png', 'all along the watchtower', 'Fresh, lively and informative content, is key to any successful website, so take a look at your website`s content.', 'javascript:void(0)','23rd March 2015', 'blog')
                +Card('./img/blog/1.png', 'Discover ecstasy', 'Fresh, lively and informative content, is key to any successful website, so take a look at your website`s content.', 'javascript:void(0)','23rd March 2015', 'blog')
