section.footer.section-margin-footer
    .container
        .row.flex-nowrap.no-gutters
            .col.col-lg-3.col-md-3.col-sm-6
                ul.footer-nav
                    li.footer-nav__item
                        a.footer-nav__link
                            span.footer-nav__text Home
                    li.footer-nav__item
                        a.footer-nav__link
                            span.footer-nav__text About US
                    li.footer-nav__item
                        a.footer-nav__link
                            span.footer-nav__text Blog
                    li.footer-nav__item
                        a.footer-nav__link
                            span.footer-nav__text Contact
                    li.footer-nav__item
                        a.footer-nav__link
                            span.footer-nav__text Disclaimer
            .col.col-lg-3.col-md-3.col-sm-6
                ul.footer-nav
                    li.footer-nav__item
                        a.footer-nav__link
                            span.footer-nav__text Blog
                    li.footer-nav__item
                        a.footer-nav__link
                            span.footer-nav__text Photography
                    li.footer-nav__item
                        a.footer-nav__link
                            span.footer-nav__text Freebies
                    li.footer-nav__item
                        a.footer-nav__link
                            span.footer-nav__text Journal
                    li.footer-nav__item
                        a.footer-nav__link
                            span.footer-nav__text News
            .col.col-lg-6.col-md-6.col-sm-12
                ul.contact
                    li.contact__item
                        a.contact__link(href="tel:+011 986 986 356") 011 986 986 356
                    li.contact__item
                        a.contact__link(href="mailto:machinelevel@gmail.com") machinelevel@gmail.com
                    li.contact__item
                        span.contact__text  20A CARLTON PLACE, SOUTHAMPTON
                ul.social
                    li.social__item
                        a.social__link(target="_blank", href="https://vk.com/black_in_death")
                            i.fab.fa-facebook-f
                    li.social__item
                        a.social__link(target="_blank", href="https://instagramm.com/arturios1916")
                            i.fab.fa-twitter
                    li.social__item
                        a.social__link(target="_blank", href="https://facebook.com")
                            i.fab.fa-github
                    li.social__item
                        a.social__link(target="_blank", href="https://twitter.com/arturios1916")
                            i.fab.fa-linkedin
                    li.social__item
                        a.social__link(target="_blank", href="https://github.com/arturios1916/")
                            i.fab.fa-google-plus-g
section.copyright
    .container
        .row.justify-content-center
            span.copyright__item Copyright © machinelevelthemes 2015
