section#js-head.head
    .container
        .row
            .col.align-items-center.d-flex.flex-column
                .row
                    include _menu.pug
                .head__wrapper
                    h2.head__subcaption MADE IN AMERICA
                    .head__ico.head__ico--wrapper
                        img.head__ico(src='./img/hourse.png')
                    .row.align-items-center
                        h1.head__text NAMASTE
                    h3.head__tagline See the world, find yourself
                    img.head__mouse(src='./img/head/Mouse.png')