section.loader
    .container
        .row.no-gutters
            .col.col-12.d-flex.justify-content-center
                .loader__wrapper.d-flex.flex-column.justify-content-center.align-items-center
                    h1.loader__text NAMASTE
                    div.loader__ring