button(class="hamburger hamburger--slider" type="button")
    span(class="hamburger-box")
        span(class="hamburger-inner")
ul.nav.js-scroll
    +nav('home','javascript:void(0)')
    +nav('works','javascript:void(0)')
    +nav('about','javascript:void(0)')
    +nav('contact','javascript:void(0)')