section.portfolio.section-margin
    .container
        +blockHead('what we did', 'Our Works', 'Suspendisse ultrices eu massa non interdum. Cras eros nisi, pulvinar quis sem et, pellent.', 'portfolio')
        .row.no-gutters
            .owl-carousel.owl-theme.portfolio__cardwrap
                +Card('./img/portfolio/1.png', 'King Arthur', 'Photography', 'javascript:void(0)','', 'portfolio')
                +Card('./img/portfolio/2.png', 'King Arthur', 'Photography', 'javascript:void(0)','', 'portfolio')
                +Card('./img/portfolio/3.png', 'King Arthur', 'Photography', 'javascript:void(0)','', 'portfolio')
                +Card('./img/portfolio/4.png', 'King Arthur', 'Photography', 'javascript:void(0)','', 'portfolio')
                +Card('./img/portfolio/1.png', 'King Arthur', 'Photography', 'javascript:void(0)','', 'portfolio')
                +Card('./img/portfolio/2.png', 'King Arthur', 'Photography', 'javascript:void(0)','', 'portfolio')
                +Card('./img/portfolio/3.png', 'King Arthur', 'Photography', 'javascript:void(0)','', 'portfolio')
                +Card('./img/portfolio/4.png', 'King Arthur', 'Photography', 'javascript:void(0)','', 'portfolio')
                +Card('./img/portfolio/1.png', 'King Arthur', 'Photography', 'javascript:void(0)','', 'portfolio')
                +Card('./img/portfolio/2.png', 'King Arthur', 'Photography', 'javascript:void(0)','', 'portfolio')
                +Card('./img/portfolio/3.png', 'King Arthur', 'Photography', 'javascript:void(0)','', 'portfolio')
                +Card('./img/portfolio/4.png', 'King Arthur', 'Photography', 'javascript:void(0)','', 'portfolio')
                