mixin aboutCard(img,caption,description)
    .about-card
        .about-card__imgwrap
            img.about-card__img(src=img)
        h2.about-card__caption=caption
        span.about-card__description=description