mixin aboutCard(img,caption,description, modified)
    .about-card
        div(class=modified+' about-card__imgwrap')
            img.about-card__img(src=img)
        h2.about-card__caption=caption
        span.about-card__description=description