mixin blockHead(subcaption,caption,tagline,blockname)
    .row.no-gutters
        .col.align-items-center.d-flex.flex-column
            h3(class=blockname+'__subcaption')=subcaption
            h1(class=blockname+'__caption')=caption
            h2(class=blockname+'__tagline')=tagline