.nav{
    list-style: none;
    display: flex;
    font-family: 'PT Sans';
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 180px;
    &__item{
        margin-right: 20px;
        margin-left: 20px;
    }
    &__link{
        text-decoration: none;
        color: $c-head;
    }
}

.head{
    background-image: url('../img/head/background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}