@media screen and (max-width: 575px){
    .section-margin{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .section-margin-footer{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .hamburger{
        display: block;
    }

    .loader__text{
        font-size: 32px;
        margin-top: 3.5px;
        top: 45%;
    }
    .loader__ring{
        top: 35%;
    }

    .nav{
        position: absolute;
        left: -100%;
        width: 100%;
        z-index: 4;
        justify-content: center;
        &__item{
            margin-right: 10px;
            margin-left: 10px;
        }
    }

    .head{
        &__text{
            padding: 0;
            &::before{
                left: -50px;
            }
        }
        &__tagline{
            padding: 0;
        }
        &__subcaption{
            margin-top: 42px;
        }
    }
    .about{
        &__caption{
            font-size: 28px;
        }
        &__tagline{
            max-width: 300px;
            text-align: center;
        }
    }
    .about-card{
        &__caption{
            font-size: 16px;
        }
        &__description{
            font-size: 10px;
            padding-bottom: 40px;
        }
    }
    .portfolio{
        &__caption{
            font-size: 28px;
        }
        &__tagline{
            max-width: 300px;
            text-align: center;
        }
    }
    // .portfolio-card{
    //     &__link{
    //         top: 40%;
    //         left: 35%;
    //     }
    // }
    .blog{
        &__caption{
            font-size: 28px;
            text-align: center;
        }
        &__tagline{
            max-width: 300px;
            text-align: center;
            padding: 0;
        }
    }
    .blog-card{
        &__caption{
            font-size: 14px;
        }
        &__description{
            font-size: 10px;
        }
        &__link{
            right: 10px;
        }
        &__date{
            font-size: 10px;
        }
    }
    .download{
        &__text{
            letter-spacing: 0.1px;
            text-align: center;
            font-size: 12px;
        }
    }
    .footer{
        font-size: 9px;
    }
    .social{
        font-size: 14px;
        padding-left: 0;
    }
    .contact{
        &__item{
            padding: 0;
        }
    }
}

@media screen and (max-width: 320px){
.container{
    padding: 0;
    margin: 0;
}
.portfolio-card{
    &__hover{
        padding: 20px;
    }
}
.head{
    &__text{
        &::after{
            left: 215px;
        }
    }
}
.contact{
    &__item{
        padding-left: 5px;
    }
}
}