@import '_global';
.container{
    box-sizing: border-box;
}

.head[data-useragent*='MSIE 10.0'] {
    background-image: url('../img/head/backgroundIE.png');
    &:after{
        display: none;
    }
  }